[licenses]
version = 2
# List of explicitly allowed licenses
# See https://spdx.org/licenses/ for list of possible licenses
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Zlib",
    "MPL-2.0",
]

[bans]
# Lint level for when multiple versions of the same crate are detected
multiple-versions = "warn"

[[advisories.ignore]]
id = "RUSTSEC-2024-0436"
reason = "paste crate is unmaintained but still functional. Used transitively through ratatui."
